/* 
===============================================
Override Style sheet
===============================================
*/
body {
    /* background-image: url("../images/backgroundPattern01.png");
    background-repeat: repeat; */
    background-color: lightgray
}

.logo {
    /* margin: 0;
    padding: 21.5px 20px; */
    color: #fff!important;
    background-color: #4aaaa5;
    /* font-family: "Georgia", Times, Times New Roman, serif; */
    font-family: 'Cabin', sans-serif;
    font-size: 2.0rem;
    /* font-size: 1.5em; */
    border-color: #cccccc;
}

h1 {
    color: #4aaaa5;
    font-family: 'Cabin', sans-serif;
    /* font-family: "Georgia", Times, Times New Roman, serif; */
}

.main-container {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-bottom: 86px !important;
    margin-top: 96px;
}

.pic-container {
    background-color: gray; /* For browsers that do not support gradients */
    background-image: radial-gradient(white, gray); /* Standard syntax (must be last) */
}
header {
    margin-bottom: 80px;
}

img.photo {
    height:250px;
} 

.figure-caption {
    background-color: #4aaaa5;
    color: #ffffff;
    bottom: 50px;
    font-family: "Georgia", Times, Times New Roman, serif;
}

.submit-btn {
    background-color: #4aaaa5;
}

.form-group {
    width: 250px!important;
}

.form-input {
    width: 100%;
}

.project {
    width: 370px;
    height: 402px;
    padding-left:  0.003rem;
    padding-right: 0.003rem;
    /* overflow: hidden; */
    transition: all 3.0s ease-in-out; /* this transition doesn't work cuz the projects are created dynamically  */
}

.project:hover {
    box-shadow: 2px 4px 2px 0 rgba(0,0,0,0.22);
    border: 1px solid black; /* #b9b9b9; */
    /* width: 350px;    */
}

.card-img-top {
    height: 235px;
    
    /* width: 315px; */
}

.card-title {
    margin-bottom: .25rem;
}

.card-body {
    padding: 1.00rem !important;
}
.email-form {
    margin: 5px 0 5px 0;
}

.email-text-area {
    resize:  none!important;
    height: 30px!important;
    padding-left: 3px!important;
}

.email-button{
    background-color:  #4aaaa5;
    border-radius: 5px; 
}

/* 
=========================================
Media query sm, xs 
=========================================
*/
@media screen and (max-width: 768px) {

    img.photo {
        float: none!important;
        display: block!important;
        margin-bottom: 10px;
        height: 1   50px;
        margin-left: auto!important;
        margin-right: auto!important;
    }

    .port-img-row {
        text-align: center!important;
    }

}
