/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.65em;
    /* Set the fixed height of the footer here */
    height: 64px;
    /* line-height: 64px; Vertically center the text there */
    border-top: 4px solid #4aaaa5;
    color: #ffffff;
    background-color: #666666;
  }

  .footer-text {
    text-align: center;
    padding-top: 40px;
    font-size: 1.5em;
}
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }